* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  font-family: Arial, Helvetica, sans-serif;
  background-image: linear-gradient(
      161deg,
      rgba(121, 121, 121, 0.02) 0%,
      rgba(121, 121, 121, 0.02) 16.667%,
      rgba(193, 193, 193, 0.02) 16.667%,
      rgba(193, 193, 193, 0.02) 33.334%,
      rgba(177, 177, 177, 0.02) 33.334%,
      rgba(177, 177, 177, 0.02) 50.001000000000005%,
      rgba(5, 5, 5, 0.02) 50.001%,
      rgba(5, 5, 5, 0.02) 66.668%,
      rgba(229, 229, 229, 0.02) 66.668%,
      rgba(229, 229, 229, 0.02) 83.33500000000001%,
      rgba(211, 211, 211, 0.02) 83.335%,
      rgba(211, 211, 211, 0.02) 100.002%
    ),
    linear-gradient(
      45deg,
      rgba(223, 223, 223, 0.02) 0%,
      rgba(223, 223, 223, 0.02) 14.286%,
      rgba(70, 70, 70, 0.02) 14.286%,
      rgba(70, 70, 70, 0.02) 28.572%,
      rgba(109, 109, 109, 0.02) 28.572%,
      rgba(109, 109, 109, 0.02) 42.858%,
      rgba(19, 19, 19, 0.02) 42.858%,
      rgba(19, 19, 19, 0.02) 57.144%,
      rgba(180, 180, 180, 0.02) 57.144%,
      rgba(180, 180, 180, 0.02) 71.42999999999999%,
      rgba(63, 63, 63, 0.02) 71.43%,
      rgba(63, 63, 63, 0.02) 85.71600000000001%,
      rgba(87, 87, 87, 0.02) 85.716%,
      rgba(87, 87, 87, 0.02) 100.002%
    ),
    linear-gradient(
      337deg,
      rgba(142, 142, 142, 0.02) 0%,
      rgba(142, 142, 142, 0.02) 20%,
      rgba(164, 164, 164, 0.02) 20%,
      rgba(164, 164, 164, 0.02) 40%,
      rgba(203, 203, 203, 0.02) 40%,
      rgba(203, 203, 203, 0.02) 60%,
      rgba(228, 228, 228, 0.02) 60%,
      rgba(228, 228, 228, 0.02) 80%,
      rgba(54, 54, 54, 0.02) 80%,
      rgba(54, 54, 54, 0.02) 100%
    ),
    linear-gradient(
      314deg,
      rgba(187, 187, 187, 0.02) 0%,
      rgba(187, 187, 187, 0.02) 12.5%,
      rgba(170, 170, 170, 0.02) 12.5%,
      rgba(170, 170, 170, 0.02) 25%,
      rgba(214, 214, 214, 0.02) 25%,
      rgba(214, 214, 214, 0.02) 37.5%,
      rgba(187, 187, 187, 0.02) 37.5%,
      rgba(187, 187, 187, 0.02) 50%,
      rgba(190, 190, 190, 0.02) 50%,
      rgba(190, 190, 190, 0.02) 62.5%,
      rgba(6, 6, 6, 0.02) 62.5%,
      rgba(6, 6, 6, 0.02) 75%,
      rgba(206, 206, 206, 0.02) 75%,
      rgba(206, 206, 206, 0.02) 87.5%,
      rgba(171, 171, 171, 0.02) 87.5%,
      rgba(171, 171, 171, 0.02) 100%
    ),
    linear-gradient(
      300deg,
      rgba(243, 243, 243, 0.01) 0%,
      rgba(243, 243, 243, 0.01) 12.5%,
      rgba(209, 209, 209, 0.01) 12.5%,
      rgba(209, 209, 209, 0.01) 25%,
      rgba(179, 179, 179, 0.01) 25%,
      rgba(179, 179, 179, 0.01) 37.5%,
      rgba(3, 3, 3, 0.01) 37.5%,
      rgba(3, 3, 3, 0.01) 50%,
      rgba(211, 211, 211, 0.01) 50%,
      rgba(211, 211, 211, 0.01) 62.5%,
      rgba(151, 151, 151, 0.01) 62.5%,
      rgba(151, 151, 151, 0.01) 75%,
      rgba(16, 16, 16, 0.01) 75%,
      rgba(16, 16, 16, 0.01) 87.5%,
      rgba(242, 242, 242, 0.01) 87.5%,
      rgba(242, 242, 242, 0.01) 100%
    ),
    linear-gradient(
      6deg,
      rgba(31, 31, 31, 0.02) 0%,
      rgba(31, 31, 31, 0.02) 20%,
      rgba(193, 193, 193, 0.02) 20%,
      rgba(193, 193, 193, 0.02) 40%,
      rgba(139, 139, 139, 0.02) 40%,
      rgba(139, 139, 139, 0.02) 60%,
      rgba(14, 14, 14, 0.02) 60%,
      rgba(14, 14, 14, 0.02) 80%,
      rgba(122, 122, 122, 0.02) 80%,
      rgba(122, 122, 122, 0.02) 100%
    ),
    linear-gradient(
      279deg,
      rgba(190, 190, 190, 0.02) 0%,
      rgba(190, 190, 190, 0.02) 14.286%,
      rgba(160, 160, 160, 0.02) 14.286%,
      rgba(160, 160, 160, 0.02) 28.572%,
      rgba(23, 23, 23, 0.02) 28.572%,
      rgba(23, 23, 23, 0.02) 42.858%,
      rgba(60, 60, 60, 0.02) 42.858%,
      rgba(60, 60, 60, 0.02) 57.144%,
      rgba(149, 149, 149, 0.02) 57.144%,
      rgba(149, 149, 149, 0.02) 71.42999999999999%,
      rgba(4, 4, 4, 0.02) 71.43%,
      rgba(4, 4, 4, 0.02) 85.71600000000001%,
      rgba(50, 50, 50, 0.02) 85.716%,
      rgba(50, 50, 50, 0.02) 100.002%
    ),
    linear-gradient(
      109deg,
      rgba(124, 124, 124, 0.03) 0%,
      rgba(124, 124, 124, 0.03) 12.5%,
      rgba(61, 61, 61, 0.03) 12.5%,
      rgba(61, 61, 61, 0.03) 25%,
      rgba(187, 187, 187, 0.03) 25%,
      rgba(187, 187, 187, 0.03) 37.5%,
      rgba(207, 207, 207, 0.03) 37.5%,
      rgba(207, 207, 207, 0.03) 50%,
      rgba(206, 206, 206, 0.03) 50%,
      rgba(206, 206, 206, 0.03) 62.5%,
      rgba(118, 118, 118, 0.03) 62.5%,
      rgba(118, 118, 118, 0.03) 75%,
      rgba(89, 89, 89, 0.03) 75%,
      rgba(89, 89, 89, 0.03) 87.5%,
      rgba(96, 96, 96, 0.03) 87.5%,
      rgba(96, 96, 96, 0.03) 100%
    ),
    linear-gradient(
      329deg,
      rgba(35, 35, 35, 0.02) 0%,
      rgba(35, 35, 35, 0.02) 20%,
      rgba(246, 246, 246, 0.02) 20%,
      rgba(246, 246, 246, 0.02) 40%,
      rgba(118, 118, 118, 0.02) 40%,
      rgba(118, 118, 118, 0.02) 60%,
      rgba(245, 245, 245, 0.02) 60%,
      rgba(245, 245, 245, 0.02) 80%,
      rgba(140, 140, 140, 0.02) 80%,
      rgba(140, 140, 140, 0.02) 100%
    ),
    linear-gradient(90deg, hsl(314, 0%, 31%), hsl(314, 0%, 31%));
  color: #fff;
}

.music-player {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.music-player__wrapper {
  max-width: 450px;
  border: 1px solid transparent;
  padding: 30px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  text-align: center;
}

.music-player__details {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.music-player__track-art {
  margin: 25px;
  min-height: 250px;
  min-width: 250px;
  border: 2px solid #fff;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0px 6px 5px #ccc;
}

.music-player__track-art_rotate {
  animation: rotation 8s linear infinite;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.music-player__track-name {
  font-size: 40px;
}

.music-player__track-artist {
  margin-top: 10px;
  font-size: 24px;
}

.music-player__slider-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.music-player__duration-slider,
.music-player__volume-slider {
  appearance: none;
  height: 5px;
  background-color: #83a9ff;
  transition: opacity 0.2s;
  opacity: 0.8;
}

.music-player__duration-slider::-webkit-slider-thumb,
.music-player__volume-slider::-webkit-slider-thumb {
  appearance: none;
  width: 15px;
  height: 15px;
  background: #fff;
  border: 3px solid #3774ff;
  border-radius: 50%;
  cursor: pointer;
}

.music-player__duration-slider:hover,
.music-player__volume-slider:hover {
  opacity: 1;
}

.music-player__duration-slider {
  width: 60%;
}
.music-player__volume-slider {
  width: 30%;
}

.music-player__current-time,
.music-player__total-duration {
  padding: 10px;
}

.music-player__buttons {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.music-player__button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.2s;
  color: #fff;
}

.music-player__control-button {
  padding: 25px;
}

.music-player__volume-button {
  padding: 15px;
  font-size: 16px;
}

.music-player__control-button:hover:not(.music-player__button_active) {
  color: #83a9ff;
}

.music-player__button_active {
  color: #83a9ff;
}

.wave {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wave_active {
  height: 70px;
}

.stroke {
  background-color: #f1f1f1;
  height: 150%;
  width: 10px;
  border-radius: 50px;
  margin: 0 5px;
  animation: animate 1.4s linear infinite;
}

.stroke:nth-child(1) {
  animation-delay: 0s;
}
.stroke:nth-child(2) {
  animation-delay: 0.3s;
}
.stroke:nth-child(3) {
  animation-delay: 0.6s;
}
.stroke:nth-child(4) {
  animation-delay: 0.9s;
}
.stroke:nth-child(5) {
  animation-delay: 0.6s;
}
.stroke:nth-child(6) {
  animation-delay: 0.3s;
}
.stroke:nth-child(7) {
  animation-delay: 0s;
}

@keyframes animate {
  50% {
    height: 20%;
    background-color: #4286f4;
  }
  100% {
    height: 100%;
  }
}
